i.icon {
    font-size: 20px;
}

.container.maintext {
    margin-top: 7em;
}

#index {
    margin-top: 3em;
}

body {
	background-color: rgb(43, 69, 73);
    margin-top: 60px;
}

#head {
    color: rgb(82, 177, 177);
}
